<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
</head>
<body>
    <form method="post" action="/forgot-password">
        <input type="text" name="username" placeholder="Username" required>
       <input type="text" name="question" placeholder="question" required>
        <input type="text" name="answer" placeholder="answer" required>
        <input type="password" name="password" placeholder="password" required> 
        <button type="submit">submit</button>
      </form>
</body>
</html>